In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [16]:
house=pd.read_csv('RealEstate.csv')

In [17]:
house.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [18]:
y=house.price

In [21]:
x1=house[['size','year']]

In [22]:
x1

       size  year
0    643.09  2015
1    656.22  2009
2    487.29  2018
3   1504.75  2015
4   1275.46  2009
..      ...   ...
95   549.80  2009
96  1037.44  2009
97  1504.75  2006
98   648.29  2015
99   705.29  2006

[100 rows x 2 columns]

In [23]:
x=sm.add_constant(x1)

In [25]:
result=sm.OLS(y,x).fit()

In [26]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.776
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     168.5
Date:                Sun, 28 Nov 2021   Prob (F-statistic):           2.77e-32
Time:                        19:26:16   Log-Likelihood:                -1191.7
No. Observations:                 100   AIC:                             2389.
Df Residuals:                      97   BIC:                             2397.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.772e+06   1.58e+06     -3.647      0.000   -8.91e+06   -2.63e+06
size         227.7009     12.474     18.254      0.000     202.943     252.458
year        2916.7853    785.896      3.711      0.000    1357.000    4476.571
==============================================================================
Omnibus:                       10.083   Durbin-Watson:                   2.250
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                3.678
Skew:                           0.095   Prob(JB):                        0.159
Kurtosis:                       2.080   Cond. No.                     9.41e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.41e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [35]:
def predict():
    size=float(input('Enter the size of the house: '))
    year=float(input('Enter the year in which the house was built: '))
    price=-5.772e+06+227.7009*size+2916.7853*year
    print('Estimated price of house would be: ',round(price,ndigits=2))

In [38]:
predict()

Enter the size of the house: 600
Enter the year in which the house was built: 2015
Estimated price of house would be:  241942.92