## Machine learning - Linear Regression with Sklearn

In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
data=pd.read_csv('regressionex.csv')

In [33]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
reg=LinearRegression()

In [36]:
reg.fit(x,y)

LinearRegression()

In [37]:
x=data.SAT.values.reshape(-1,1)
y=data.GPA.values.reshape(-1,1)

In [38]:
reg.predict([[1700]])

array([[3.08970998]])

In [39]:
data[(data.GPA>2.7)&(data.GPA<3.1)]

     SAT   GPA
3   1685  2.74
4   1693  2.83
5   1670  2.91
6   1764  3.00
7   1764  3.00
8   1792  3.01
9   1850  3.01
10  1735  3.02
11  1775  3.07
12  1735  3.08
13  1712  3.08

In [40]:
def predict():
    sat=int(input('Enter your SAT score: '))
    gpa=round(reg.predict([[sat]])[0][0],ndigits=2)
    print('Your estimated gpa would be:',gpa)

In [42]:
predict()

Enter your SAT score: 1300
Your estimated gpa would be: 2.43